<script lang="ts">
    import {_, locale} from 'svelte-i18n'
    import Calculator from "$lib/components/Calculator.svelte";
    import Center from "$lib/components/layout/Center.svelte";
    import Container from "$lib/components/layout/Container.svelte";
    import Card from "$lib/components/layout/Card.svelte";
    import {get} from "svelte/store";
    import {onMount} from "svelte";

    let selectedLanguage: string | null

    onMount(initLanguage)

    function initLanguage() {
        let lang = get(locale)
        lang ? selectedLanguage = lang.split("-")[0] : selectedLanguage = null
        console.log(selectedLanguage)
    }

    function setLanguage() {
        locale.set(selectedLanguage)
    }

</script>


<div class="m-5">
    <Container>
        <Center>
            <h1 class="display">{$_('home.name')} 💸</h1>
        </Center>
        <Center>
            <Card>
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            {$_('calculator.description')}
                        </div>
                        <div class="col d-flex align-items-center">
                            <select class="form-select" bind:value={selectedLanguage} on:change={setLanguage}>
                                <option value="en">{$_('home.language.en')}</option>
                                <option value="de">{$_('home.language.de')}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </Card>
        </Center>
        <Center>
            <Calculator/>
        </Center>
    </Container>
    <div class="fixed-bottom p-2">
        <p>{$_('home.idea')}: {$_('home.idea.jonasmucha')}</p>
    </div>
</div>
