<script lang="ts">
    export let readonly = false

    export let type: string
    export let unit: string

    export let value: number

</script>

<div class="input-group">
    {#if (type)}
        <span class="input-group-text">{type}</span>
    {/if}
    <input type="number" class="form-control" bind:value={value} {readonly} on:change >
    {#if (unit)}
        <span class="input-group-text">{unit}</span>
    {/if}
</div>