<script lang="ts">
    import TypeUnitInput from "$lib/components/input/TypeUnitInput.svelte";
    import { _ } from 'svelte-i18n';
    import Card from "$lib/components/layout/Card.svelte";

    let hourlyIncome: number
    let monthlyIncome: number | null
    let weeklyWorkingHours: number | null

    let totalCost: number | null

    let timeCostPerHour: number | null
    let timeCostUnit: "hours" | "days" | "weeks" | "months" = "hours"

    let timeCostPerUnit: number | null

    function updateHourlyIncome() {
        let monthlyWorkingHours = weeklyWorkingHours * 4.33
        hourlyIncome = monthlyIncome / monthlyWorkingHours
        generateTimeCost()
    }

    function clearMonthlyIncomeAndWeeklyWorkingHours() {
        monthlyIncome = weeklyWorkingHours = null
        generateTimeCost()
    }

    function generateTimeCost() {
        timeCostPerHour = totalCost / hourlyIncome
        displayTimeCost()
    }

    function updateTimeCostUnit(newUnit: "hours" | "days" | "weeks" | "months") {
        timeCostUnit = newUnit
        displayTimeCost()
    }

    function displayTimeCost() {
        console.log("BEANS")

        switch (timeCostUnit) {
            case "hours":
                timeCostPerUnit = timeCostPerHour
                break
            case "days":
                timeCostPerUnit = timeCostPerHour / 24
                break
            case "weeks":
                timeCostPerUnit = timeCostPerHour / 24 / 7
                break
            case "months":
                timeCostPerUnit = timeCostPerHour / 24 / 30.5
        }

        timeCostPerUnit = parseFloat(<string>timeCostPerUnit?.toFixed(2))
        console.log(timeCostPerUnit)
    }

</script>

<Card>
    <div class="row p-1 my-2">
        <div class="col">
            <TypeUnitInput type={$_('unit.currency.default')} unit="{$_('calculator.per')} {$_('unit.hour')}" bind:value={hourlyIncome} on:change={clearMonthlyIncomeAndWeeklyWorkingHours}/>
        </div>
        <div class="col">
            <TypeUnitInput type={$_('unit.currency.default')} unit="{$_('calculator.per')} {$_('unit.month')}" bind:value={monthlyIncome} on:change={updateHourlyIncome}/>
        </div>
        <div class="col">
            <TypeUnitInput type={$_('unit.hour')} unit="{$_('calculator.per')} {$_('unit.week')}" bind:value={weeklyWorkingHours} on:change={updateHourlyIncome}/>
        </div>
    </div>
    <div class="row p-1 my-2">
        <div class="col">
            <TypeUnitInput type={$_('unit.currency.default')} unit="{$_('calculator.total')} {$_('calculator.costs')}" bind:value={totalCost} on:change={generateTimeCost}/>
        </div>
    </div>
    <div class="row p-1 my-2">
        <div class="col">
            <div class="input-group">
                <span class="input-group-text">{$_('calculator.time')}</span>
                <input type="number" class="form-control" bind:value={timeCostPerUnit} readonly>
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">{$_('unit.' + timeCostUnit)}</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="dropdown-item" on:click={() => updateTimeCostUnit("hours")}>{$_('unit.hours')}</li>
                    <li class="dropdown-item" on:click={() => updateTimeCostUnit("days")}>{$_('unit.days')}</li>
                    <li class="dropdown-item" on:click={() => updateTimeCostUnit("weeks")}>{$_('unit.weeks')}</li>
                    <li class="dropdown-item" on:click={() => updateTimeCostUnit("months")}>{$_('unit.months')}</li>
                </ul>
            </div>
        </div>
    </div>
</Card>
